<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% include 'partials/head_meta.html' %}
</head>
<body class="map-page">

<div class="site">

	{% include 'partials/sidebar.html' %}

	<main class="main">

		<div id="large-map"></div>

	</main>

	{% include 'partials/footer.html' %}

</div>

<script>
	window.artwork_locations = {{ artwork_location_data | safe }};
</script>

{% include 'partials/footer_meta.html' %}

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHcTEGDOEvnSfv7oQbEcGxzIWFxPVDeM4&callback=load_large_map">
</script>

</body>
</html>
